---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <hr />

  <h3>Discussion</h3>

  <div class="giscus">
    <script src="https://giscus.app/client.js"
            data-repo="eng-floe/floecat"
            data-repo-id="R_kgDOP9Yb3A"
            data-category="Blog"
            data-category-id="DIC_kwDOP9Yb3M4C7EtH"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
  </div>

</article>
