# Copyright 2026 Yellowbrick Data, Inc
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

services:
  service:
    image: floecat-service:local
    pull_policy: never
    ports:
      - "9100:9100"
    environment:
      FLOECAT_HTTP_HOST: "0.0.0.0"
      FLOECAT_HTTP_PORT: "9100"
      FLOECAT_SEED_ENABLED: ${FLOECAT_SEED_ENABLED:-true}
      FLOECAT_SEED_MODE: ${FLOECAT_SEED_MODE:-fake}
      FLOECAT_CONNECTOR_FILEIO_OVERRIDES: ${FLOECAT_CONNECTOR_FILEIO_OVERRIDES:-true}
      AWS_REGION: ${FLOECAT_S3_REGION:-us-east-1}
      AWS_DEFAULT_REGION: ${FLOECAT_S3_REGION:-us-east-1}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-}
      AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN:-}
      AWS_PROFILE: ${AWS_PROFILE:-}
      AWS_SDK_LOAD_CONFIG: "1"
      FLOECAT_KV: ${FLOECAT_KV:-memory}
      FLOECAT_KV_TABLE: ${FLOECAT_KV_TABLE:-floecat_pointers}
      FLOECAT_KV_AUTO_CREATE: ${FLOECAT_KV_AUTO_CREATE:-true}
      FLOECAT_KV_TTL_ENABLED: ${FLOECAT_KV_TTL_ENABLED:-true}
      FLOECAT_BLOB: ${FLOECAT_BLOB:-memory}
      FLOECAT_BLOB_S3_BUCKET: ${FLOECAT_BLOB_S3_BUCKET:-floecat-dev}
      FLOECAT_FILEIO_IMPL: ${FLOECAT_FILEIO_IMPL:-}
      FLOECAT_S3_ENDPOINT: ${FLOECAT_S3_ENDPOINT:-}
      FLOECAT_S3_REGION: ${FLOECAT_S3_REGION:-us-east-1}
      FLOECAT_S3_ACCESS_KEY_ID: ${FLOECAT_S3_ACCESS_KEY_ID:-}
      FLOECAT_S3_SECRET_ACCESS_KEY: ${FLOECAT_S3_SECRET_ACCESS_KEY:-}
      FLOECAT_S3_PATH_STYLE: ${FLOECAT_S3_PATH_STYLE:-true}
      FLOECAT_DYNAMODB_ENDPOINT: ${FLOECAT_DYNAMODB_ENDPOINT:-}
      FLOECAT_FIXTURES_USE_AWS_S3: ${FLOECAT_FIXTURES_USE_AWS_S3:-false}
      JAVA_TOOL_OPTIONS: >-
        -Dfloecat.connector.fileio.overrides=${FLOECAT_CONNECTOR_FILEIO_OVERRIDES:-true}
        -Dfloecat.fixtures.use-aws-s3=${FLOECAT_FIXTURES_USE_AWS_S3:-false}
        -Dfloecat.fileio.override.io-impl=${FLOECAT_FILEIO_IMPL:-}
        -Dfloecat.fileio.override.s3.endpoint=${FLOECAT_S3_ENDPOINT:-}
        -Dfloecat.fileio.override.s3.region=${FLOECAT_S3_REGION:-us-east-1}
        -Dfloecat.fileio.override.s3.access-key-id=${FLOECAT_S3_ACCESS_KEY_ID:-}
        -Dfloecat.fileio.override.s3.secret-access-key=${FLOECAT_S3_SECRET_ACCESS_KEY:-}
        -Dfloecat.fileio.override.s3.path-style-access=${FLOECAT_S3_PATH_STYLE:-true}
        -Dfloecat.fileio.override.aws.dynamodb.endpoint-override=${FLOECAT_DYNAMODB_ENDPOINT:-}
    networks:
      - floecat
    volumes:
      - ${HOME}/.aws:/root/.aws:ro

  iceberg-rest:
    image: floecat-iceberg-rest:local
    pull_policy: never
    ports:
      - "9200:9200"
    environment:
      FLOECAT_REST_HOST: "0.0.0.0"
      FLOECAT_REST_PORT: "9200"
      FLOECAT_GRPC_HOST: "service"
      FLOECAT_GRPC_PORT: "9100"
      FLOECAT_UPSTREAM_TARGET: "service:9100"
      AWS_REGION: ${FLOECAT_REST_S3_REGION:-us-east-1}
      AWS_DEFAULT_REGION: ${FLOECAT_REST_S3_REGION:-us-east-1}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-}
      AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN:-}
      AWS_PROFILE: ${AWS_PROFILE:-}
      AWS_SDK_LOAD_CONFIG: "1"
      JAVA_TOOL_OPTIONS: >-
        -Dfloecat.fileio.override.io-impl=${FLOECAT_REST_FILEIO_IMPL:-}
        -Dfloecat.fileio.override.s3.endpoint=${FLOECAT_REST_S3_ENDPOINT:-}
        -Dfloecat.fileio.override.s3.region=${FLOECAT_REST_S3_REGION:-us-east-1}
        -Dfloecat.fileio.override.s3.access-key-id=${FLOECAT_REST_S3_ACCESS_KEY_ID:-}
        -Dfloecat.fileio.override.s3.secret-access-key=${FLOECAT_REST_S3_SECRET_ACCESS_KEY:-}
        -Dfloecat.fileio.override.s3.path-style-access=${FLOECAT_REST_S3_PATH_STYLE:-true}
    depends_on:
      - service
    networks:
      - floecat
    volumes:
      - ${HOME}/.aws:/root/.aws:ro

  cli:
    image: floecat-cli:local
    pull_policy: never
    environment:
      FLOECAT_GRPC_HOST: "service"
      FLOECAT_GRPC_PORT: "9100"
    depends_on:
      - service
    stdin_open: true
    tty: true
    command: ["--host", "service", "--port", "9100"]
    profiles:
      - cli
    networks:
      - floecat

  localstack:
    image: localstack/localstack:3.8
    pull_policy: if_not_present
    ports:
      - "4566:4566"
    environment:
      SERVICES: "s3,dynamodb"
      DEFAULT_REGION: ${FLOECAT_S3_REGION:-us-east-1}
      AWS_REGION: ${FLOECAT_S3_REGION:-us-east-1}
      AWS_DEFAULT_REGION: ${FLOECAT_S3_REGION:-us-east-1}
      AWS_ACCESS_KEY_ID: ${FLOECAT_S3_ACCESS_KEY_ID:-test}
      AWS_SECRET_ACCESS_KEY: ${FLOECAT_S3_SECRET_ACCESS_KEY:-test}
      FLOECAT_S3_REGION: ${FLOECAT_S3_REGION:-us-east-1}
      FLOECAT_BLOB_S3_BUCKET: ${FLOECAT_BLOB_S3_BUCKET:-floecat-dev}
      FLOECAT_KV_TABLE: ${FLOECAT_KV_TABLE:-floecat_pointers}
    volumes:
      - ./localstack-init.sh:/etc/localstack/init/ready.d/localstack-init.sh:ro
    profiles:
      - localstack
    networks:
      - floecat

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.2
    pull_policy: if_not_present
    ports:
      - "${KEYCLOAK_PORT:-8080}:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command: ["start-dev", "--import-realm"]
    volumes:
      - ./keycloak/realm-floecat.json:/opt/keycloak/data/import/realm-floecat.json:ro
    profiles:
      - keycloak
    networks:
      - floecat

networks:
  floecat:
    driver: bridge
