# Copyright 2026 Yellowbrick Data, Inc
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

services:
  service:
    image: floecat-service:local
    pull_policy: never
    env_file:
      - ${FLOECAT_ENV_FILE:-./env.localstack}
    ports:
      - "9100:9100"
    environment:
      FLOECAT_HTTP_HOST: "0.0.0.0"
      FLOECAT_HTTP_PORT: "9100"
      AWS_REGION: ${FLOECAT_STORAGE_AWS_REGION:-us-east-1}
      AWS_DEFAULT_REGION: ${FLOECAT_STORAGE_AWS_REGION:-us-east-1}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-}
      AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN:-}
      AWS_PROFILE: ${AWS_PROFILE:-}
      AWS_SDK_LOAD_CONFIG: "1"
      FLOECAT_KV: ${FLOECAT_KV:-memory}
      FLOECAT_KV_TABLE: ${FLOECAT_KV_TABLE:-floecat_pointers}
      FLOECAT_KV_AUTO_CREATE: ${FLOECAT_KV_AUTO_CREATE:-true}
      FLOECAT_KV_TTL_ENABLED: ${FLOECAT_KV_TTL_ENABLED:-true}
      FLOECAT_BLOB: ${FLOECAT_BLOB:-memory}
      FLOECAT_BLOB_S3_BUCKET: ${FLOECAT_BLOB_S3_BUCKET:-floecat-dev}
      FLOECAT_STORAGE_AWS_S3_ENDPOINT: ${FLOECAT_STORAGE_AWS_S3_ENDPOINT:-}
      FLOECAT_STORAGE_AWS_REGION: ${FLOECAT_STORAGE_AWS_REGION:-us-east-1}
      FLOECAT_STORAGE_AWS_ACCESS_KEY_ID: ${FLOECAT_STORAGE_AWS_ACCESS_KEY_ID:-}
      FLOECAT_STORAGE_AWS_SECRET_ACCESS_KEY: ${FLOECAT_STORAGE_AWS_SECRET_ACCESS_KEY:-}
      FLOECAT_STORAGE_AWS_SESSION_TOKEN: ${FLOECAT_STORAGE_AWS_SESSION_TOKEN:-}
      FLOECAT_STORAGE_AWS_S3_PATH_STYLE: ${FLOECAT_STORAGE_AWS_S3_PATH_STYLE:-true}
      FLOECAT_STORAGE_AWS_DYNAMODB_ENDPOINT: ${FLOECAT_STORAGE_AWS_DYNAMODB_ENDPOINT:-}
      FLOECAT_FIXTURES_USE_AWS_S3: ${FLOECAT_FIXTURES_USE_AWS_S3:-false}
      JAVA_TOOL_OPTIONS: >-
        -Dfloecat.fixtures.use-aws-s3=${FLOECAT_FIXTURES_USE_AWS_S3:-false}
        -Dfloecat.fixture.aws.io-impl=${FLOECAT_FIXTURE_AWS_IO_IMPL:-org.apache.iceberg.aws.s3.S3FileIO}
        -Dfloecat.fixture.aws.s3.endpoint=${FLOECAT_FIXTURE_AWS_S3_ENDPOINT:-}
        -Dfloecat.fixture.aws.s3.region=${FLOECAT_FIXTURE_AWS_REGION:-}
        -Dfloecat.fixture.aws.s3.access-key-id=${FLOECAT_FIXTURE_AWS_ACCESS_KEY_ID:-}
        -Dfloecat.fixture.aws.s3.secret-access-key=${FLOECAT_FIXTURE_AWS_SECRET_ACCESS_KEY:-}
        -Dfloecat.fixture.aws.s3.path-style-access=${FLOECAT_FIXTURE_AWS_S3_PATH_STYLE:-}
    networks:
      - floecat
    volumes:
      - ${HOME}/.aws:/root/.aws:ro

  iceberg-rest:
    image: floecat-iceberg-rest:local
    pull_policy: never
    env_file:
      - ${FLOECAT_ENV_FILE:-./env.localstack}
    ports:
      - "9200:9200"
    environment:
      FLOECAT_REST_HOST: "0.0.0.0"
      FLOECAT_REST_PORT: "9200"
      FLOECAT_GRPC_HOST: "service"
      FLOECAT_GRPC_PORT: "9100"
      FLOECAT_UPSTREAM_TARGET: "service:9100"
      ICEBERG_DEFAULT_REGION: ${FLOECAT_STORAGE_AWS_REGION:-us-east-1}
      ICEBERG_STORAGE_SCOPE: ${ICEBERG_STORAGE_SCOPE:-*}
      ICEBERG_STORAGE_TYPE: ${ICEBERG_STORAGE_TYPE:-s3}
      ICEBERG_STORAGE_KEY_ID: ${FLOECAT_STORAGE_AWS_ACCESS_KEY_ID:-${AWS_ACCESS_KEY_ID:-<access-id>}}
      ICEBERG_STORAGE_SECRET: ${FLOECAT_STORAGE_AWS_SECRET_ACCESS_KEY:-${AWS_SECRET_ACCESS_KEY:-<secret-key>}}
      ICEBERG_STORAGE_REGION: ${FLOECAT_STORAGE_AWS_REGION:-${AWS_REGION:-us-east-1}}
      FLOECAT_GATEWAY_METADATA_FILE_IO: ${FLOECAT_GATEWAY_METADATA_FILE_IO:-org.apache.iceberg.aws.s3.S3FileIO}
      AWS_REGION: ${FLOECAT_STORAGE_AWS_REGION:-us-east-1}
      AWS_DEFAULT_REGION: ${FLOECAT_STORAGE_AWS_REGION:-us-east-1}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-}
      AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN:-}
      AWS_PROFILE: ${AWS_PROFILE:-}
      AWS_SDK_LOAD_CONFIG: "1"
    depends_on:
      - service
    networks:
      - floecat
    volumes:
      - ${HOME}/.aws:/root/.aws:ro

  cli:
    image: floecat-cli:local
    pull_policy: never
    environment:
      FLOECAT_GRPC_HOST: "service"
      FLOECAT_GRPC_PORT: "9100"
    depends_on:
      - service
    stdin_open: true
    tty: true
    command: ["--host", "service", "--port", "9100"]
    networks:
      - floecat

  localstack:
    image: localstack/localstack:3.8
    pull_policy: if_not_present
    ports:
      - "4566:4566"
    environment:
      SERVICES: "s3,dynamodb"
      DEFAULT_REGION: ${FLOECAT_STORAGE_AWS_REGION:-us-east-1}
      AWS_REGION: ${FLOECAT_STORAGE_AWS_REGION:-us-east-1}
      AWS_DEFAULT_REGION: ${FLOECAT_STORAGE_AWS_REGION:-us-east-1}
      AWS_ACCESS_KEY_ID: ${FLOECAT_STORAGE_AWS_ACCESS_KEY_ID:-test}
      AWS_SECRET_ACCESS_KEY: ${FLOECAT_STORAGE_AWS_SECRET_ACCESS_KEY:-test}
      FLOECAT_STORAGE_AWS_REGION: ${FLOECAT_STORAGE_AWS_REGION:-us-east-1}
      FLOECAT_BLOB_S3_BUCKET: ${FLOECAT_BLOB_S3_BUCKET:-floecat-dev}
      FLOECAT_KV_TABLE: ${FLOECAT_KV_TABLE:-floecat_pointers}
    volumes:
      - ./localstack-init.sh:/etc/localstack/init/ready.d/localstack-init.sh:ro
    profiles:
      - localstack
    networks:
      - floecat

  keycloak:
    image: quay.io/keycloak/keycloak:26.5.2
    pull_policy: if_not_present
    ports:
      - "${KEYCLOAK_PORT:-8080}:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME: ${KC_HOSTNAME:-host.docker.internal}
      KC_HOSTNAME_PORT: ${KC_HOSTNAME_PORT:-${KEYCLOAK_PORT:-8080}}
      KC_HOSTNAME_STRICT: "false"
      KC_HTTP_ENABLED: "true"
    command: ["start-dev", "--import-realm"]
    volumes:
      - ./keycloak/realm-floecat.json:/opt/keycloak/data/import/realm-floecat.json:ro
    profiles:
      - keycloak
    networks:
      - floecat

networks:
  floecat:
    driver: bridge
