<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MW7N5BZT');</script>
<!-- End Google Tag Manager -->

{% if site.preview_noindex %}
<meta name="robots" content="noindex,nofollow,noarchive">
<meta name="googlebot" content="noindex,nofollow,noarchive">
{% endif %}

<link rel="icon" type="image/png" sizes="64x64" href="{{ '/images/favicon-64.png?v=2' | relative_url }}">
<link rel="shortcut icon" type="image/png" sizes="64x64" href="{{ '/images/favicon-64.png?v=2' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon-180.png?v=2' | relative_url }}">

